@import url('./icons.css');
@import url('./landing.css');
@import url('./header.css');
@import url('./buttons.css');

:root {
    /* fonts */
    --font-primary: 'DM Sans', sans-serif;
    /* padding */
    --padding-small: 1rem;
    --padding-medium: 2rem;
    --padding-large: 3rem;
    --padding-xlarge: 4rem;

    /* margins */
    --margin-small: 1rem;
    --margin-medium: 2rem;
    --margin-large: 3rem;
    --margin-xlarge: 4rem;
    /* colors */
    --color-primary: #1A1A1A;
    --color-secondary: #F7BA04;
    --color-background: #ffffff;
    --color-paragraph: #9A9A9A;
    /* border-radius */
    --border-radius: 8px;

}

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    text-align: center;
 }

 p {
    color: var(--color-paragraph);
 }