.header {
    position: relative;
}

.header__nav-list {
    margin: 1rem 1rem 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding: 0;

    li:not(:nth-child(3)):not(.activepage) {
        position: relative;
        padding-bottom: 4px;
        cursor: pointer;
        display: none;
        /* De 'onzichtbare' border */
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-secondary);
            
            /* Start-staat: ingekrompen naar het midden (of links) */
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
            transform-origin: bottom right; /* Animeert van rechts naar links bij weghalen */
        }

        &:hover::after {
            /* Eind-staat: volledige breedte */
            transform: scaleX(1);
            transform-origin: bottom left; /* Animeert van links naar rechts bij hover */
        }
    }

    a {
        text-decoration: none;
        color: var(--color-primary);
        font-weight: 500;
    }
}

.activepage {
    border-bottom: 2px solid var(--color-primary);
}

.logo__container {
    padding: 0.6rem;
    background-color: #F7BA04;
    border-radius: 16px;
}
.header__logo {
    width: 3rem;
    margin: 0;
}