.header {
    position: relative;
}

.header__nav-list {
    
    margin: 1rem 1rem 0rem 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    a {
        text-decoration: none;
        color: var(--color-primary);
        font-weight: 500;
    }
}

.logo__container {
    padding: 0.6rem;
    background-color: #F7BA04;
    border-radius: 16px;
}
.header__logo {
    width: 4rem;
    margin: 0;
}