.header__menu-toggle {
  width: 3rem;
  height: 3rem;
  background-image: url("../images/menu-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.feature-card__icon {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.about-solution-card__image {
    width: 3rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

.about-problem-card__image {
  width: 4rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.over__feature-icon {
  width: 4rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.over__feature-icon--leaf {
    background-color: #DCFCE7;
}

.over__feature-icon--box {
    background-color: #E0E7FF;
}

.over__feature-icon--recycle {
    background-color: #FEF3C7;
}

.over__feature-icon--trash-list {
    background-color: #FEE2E2;
}

.over__feature-icon--location-pin {
    background-color: #F3E8FF;
}


.contact__detail-icon {
  width: 3rem;
  padding: 0.5rem;
  background-color: #FEF3C7;
  border-radius: 50%;
}

.form__button-icon {
  width: 2.2rem;
  height: 2.2rem;
  color: black;
}

.menu-closer {
  width: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}