.hero {

    .hero__title {
        font-size: 3rem;
        font-weight: 900;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero__content {
    margin: 2rem auto;
    width: 90%;
    .hero__video {
        width: 80%;
        border-radius: var(--border-radius);
    }

    .hero__buttons {
        width: 100%;
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
        
        button {
            padding: 0.75rem 2rem;
            font-size: 1rem;
            font-weight: 600;
            border: none;
            border-radius: var(--border-radius);
            cursor: pointer;
        }
    }
}

.features {
    height: 100vh;

    .features__title {
        font-size: 2.5rem;
        font-weight: 900;
        text-align: center;
    }
}