.hero {
  .hero__title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1rem;
  }

  .hero__subtitle {
    width: 90%;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  min-height: 80vh;
}

.hero__content {
  margin: 2rem auto;
  width: 90%;
  max-width: 800px;

  .hero__video {
    width: 100%;
    height: auto;
    max-height: 450px;
    border-radius: var(--border-radius);
  }

  .hero__buttons {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;

    button {
      padding: 0.75rem 2rem;
      width: auto;
      font-size: 0.8rem;
      font-weight: 600;
      border: none;
      border-radius: var(--border-radius);
      cursor: pointer;
    }
  }
}

.features {
  height: auto;
  .features__title {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
  }

  .features__grid {
    margin-top: 2rem;
  }
}

@media (min-width: 70rem) {
  .features__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;

    .feature-card {
      width: 100%;
      margin: 0;
    }
  }
}

@media (min-width: 90rem) {
  .features__grid {
    width: 60%;
    margin: 0 auto;
  }
}
