.over {
  margin-top: 2rem;
}

.over__intro {
  .over__title {
    margin-bottom: 1rem;
  }
  .over__subtitle {
    color: var(--color-paragraph);
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.over__goals {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: 2rem auto;
  .over__mission-item {
    background-color: var(--color-secondary);
    padding: 1.5rem;
    border-radius: var(--border-radius);

    p, h2 {
      color: var(--color-primary);
      text-align: left;
    }

    .over__mission-title {
      margin-bottom: 0.5rem;
    }

    .over__mission-text {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }


  .over__vision-item {
    background-color: var(--color-primary);
    padding: 1.5rem;
    border-radius: var(--border-radius);

    p, h2 {
      color: var(--color-secondary);
      text-align: left;
    }

    .over__vision-title {
      margin-bottom: 0.5rem;
    }

    .over__vision-text {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
}


.over__functioning {
  background-color: rgb(231, 229, 229);
  color: var(--color-primary);
  padding: 2rem;
  border-radius: var(--border-radius);
  margin: 2rem auto;
  text-align: left;

  .over__functioning-title {
    margin-bottom: 1rem;
    font-size: 1.9rem;
  }

  .over__functioning-subtitle {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .over__steps {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;

    .over__step {
        background-color: var(--color-background);
        padding: 2rem 1rem;
        border-radius: var(--border-radius);
        border: 1px solid #d4d4d4;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        
      p, h3 {
        text-align: left;
      }
      .over__step-number {
        background-color: var(--color-secondary);
        color: var(--color-primary);
        font-weight: 700;
        font-size: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }

      .over__step-description {
        font-size: 1.1rem;
        line-height: 1.4;
      }
    }
  }
}


.over__sustainability {
  margin: 2rem auto;
  width: 90%;

  .over__sustainability-title {
    margin-bottom: 1rem;
    font-size: 1.9rem;
  }

  .over__sustainability-subtitle {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--color-paragraph);
  }

  .over__features {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .over__feature {
        background-color: var(--color-background);
        padding: 2rem 1rem;
        border-radius: var(--border-radius);
        border: 1px solid #d4d4d4;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        
      p, h3 {
        text-align: left;
      }
      .over__feature-icon {
        padding: 0.5rem;
        color: var(--color-primary);
        font-weight: 700;
        font-size: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }

      .over__feature-text {
        font-size: 1.1rem;
        line-height: 1.4;
      }
    }
  }
}


.over__cta {
    background-color: var(--color-primary);
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p, h2{
        color: var(--color-secondary);
    }
    .over__cta-link {
        padding: 1rem 2rem;
        color: var(--color-primary);
        font-weight: 700;
        border-radius: var(--border-radius);
        cursor: pointer;
        text-decoration: none;
        background-color: var(--color-secondary);
    }
}


